@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Mulish", sans-serif;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: row;
}

.left-cont {
  height: 100vh;
  width: 40%;
  position: relative;
}

.img-txt {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 130px;
  width: 100%;
  margin-top: 150px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
    margin-top: 0;
    margin-bottom: -10px;
    font-size: 20px;
}

img {
  height: 100vh;
  width: 100%;
}

.right-cont {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.right-top {
  background-color: #f9fafb;
  height: 35vh;
  width: 100%;
}

.right-mid {
  background-color: #fefffe;
  z-index: 1;
  height: 30vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.right-bottom {
  background-color: #f9fafb;
  height: 35vh;
  width: 100%;
}
